.animacion{
    display: block;
    margin:auto;
    scale: 15%;
    
}

@keyframes movicanilla{
    0%{opacity:0};
    100%{transform: translatex(0px);}
}

@keyframes movigota{
    0%{opacity:0}
    15%{opacity:0}
    100%{transform: translatey(1200px)};
}

.canilla{
    animation-name: movicanilla;
    animation-fill-mode: forwards;
    animation-duration: 4s;
    }   

.gota{
    scale: 20%;
    position: absolute;
    left: 24%;
    animation-name: movigota;
    animation-iteration-count: infinite;
    animation-duration:2s;
     
}